.clear-both {
    display: flex;
    justify-content: flex-end;
}

.phantrang {
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
    border-radius: 10px;
}

.phantrang:hover {
    background: #11c516;
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
    border-radius: 10px;
}

body{
    font-family: arial;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-items{
    /* border: 1px solid #000; */
    padding: 30px;
}
.product-item{
    float: left;
    width: 23%;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    line-height: 26px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.product-item label{
    font-weight: bold;
}
.product-item p{
    margin: 0;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
}
.product-price{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.product-img{
    padding: 5px;
    /* border: 1px solid #000; */
    margin-bottom: 5px;
}
.product-item img{
    width: 100%;
    height: 182px;
    border-radius: 20px;
}
.product-item img:hover{
    transition: 1s ease;
    /* width: 100%;
    height: 182px; */
    border-radius: 20px;
    -webkit-transform: scale(1.2); transform: scale(1.2);
}
.product-item .product-name{
    color:#3C4048;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 18px;
}
.product-item ul{
    margin: 0;
    padding: 0;
    border-right: 1px solid #ccc;
}
.product-item ul li{
    float: left;
    width: 33.3333%;
    list-style: none;
    text-align: center;
    border: 1px solid #ccc;
    border-right: 0;
    box-sizing: border-box;
}
.clear-both{
    clear: both;
}
a{
    text-decoration: none;
}
.buy-button{
    text-align: center;
    background: #FF1E1E;
    margin-top: 10px;
    border-radius: 10px;
    padding: 3px;
}
.buy-button a{
    padding: 5px;
    color: #fff;
}
.buy-button:hover{
    background: rgb(192, 57, 43);
    border-radius: 10px;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
    border-radius: 10px;
}
.page-item:hover{
    background: #11c516;
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
    border-radius: 10px;
}
.current-page{
    background: #000;
    color: #FFF;
}
/* #wrapper-product{
    border: 1px solid #ccc;
} */
#product-search{
    margin: 0px 0px 0px 571px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ccc; */
    float: left;

}
#sort-box{
    float: right;
    margin-right: 45px;
    line-height: 24px;
    height: 24px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    /* background-color: #009879; */
    background-color: #BB0029;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
    border-bottom: 2px solid #BB0029;
}

.payment{
    position: relative;
    height: 80px;
}
.payment-btn{
    position: absolute;
    height: 60px;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn5-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.btn5-hover:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.btn5-hover:focus {
    outline: none;
}
  
.btn5-hover.btn5 {
    background-image: linear-gradient(
        to right,
        #ff3300,
        #b32400,
        #ed213a,
        #93291e
    );
    box-shadow: 0 4px 15px 0 rgba(230, 46, 0, 0.75);
}
.login-content{
    width: 100%;
    height: 400px;
    display: inline-block;
}
.register-table{
    width:400px;
    height: 60px;
    margin-left: 60px;
    border: 1px solid rgb(247, 202, 24);
    border-collapse: collapse;
}
.register-table, .register-row, .register-col-2{
    border: 7px solid rgb(247, 202, 24);
    border-collapse: collapse;
}
.register-col-1{
    float: left;
}

.register{
    background-color: rgb(247, 202, 24);
    box-shadow: 10px 10px #BB0029;
    margin-top: 50px;
    margin-left: 40px;
    width:550px;
    height: 330px;
    padding: 10px;
    /* border-radius: 20px; */
    box-sizing: border-box;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}
.register h1{
    color:black;
}
#register-left{
    width:50%;
    float: left;
}
#register-right{
    width:50%;
    float: right;
}
.input-register{
    width: 300px;
    height: 25px;
    background-color: rgba(247, 202, 24, 0);
    border:none;
    border-bottom:2px solid black;
}
.btn-register{
    height: 30px;
    width: 115px;
    background-color: #c62026;
    border-color: #c62026;
    border-radius: 6px;
    font-family: "MergeBlack", sans-serif;
    font-size: 18px;
    color: white;
}
.btn-register:hover{
    background-color: #BB0029;
    border-color: #BB0029;
    width: 118px;
    height: 33px;
}
.main{
    width: 100%;
    height: 400px;
    position: relative;
}
.info{
    background-color: rgba(0, 0, 0, 0.795);
    opacity: 0.8;
    width: 400px;
    min-height: 350px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-10%);
    box-shadow: rgba(120, 117, 56, 0.25) 0px 10px 12px -2px, rgba(98, 96, 40, 0.3) 0px 3px 7px -3px;
    color: white;
}
.profile-form{
    margin-left: 30px;
    box-sizing: border-box;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 30px;
}
.profile span{
    min-width: 115px;
    display: inline-block;
}
.btn-orderdetail{
    background-color: rgb(247, 202, 24);
    border: none;
    height: 30px;
    border-radius: 5px;
    max-width: 100px;
    margin-left: 120px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-orderdetail:hover{
    background-color: rgb(214, 178, 36);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-orderdetail a{
    color: white;
    font-weight: bold;
}
h3.payment {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: underline; */
    line-height:50px;
}
.wrapper_method {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid #666; */
    padding: 20px;
    /* margin: 20px; */
    background: cornsilk;
}
.wrapper_method a {
    padding: 10px;
    background: red;
    color: #fff;
    margin-bottom: 20px;

}
.wrapper_method h3 {
    margin-bottom: 20px;
}
#paypal-button{
    margin-top: 20px;
}
.cart{
    margin: 50px 50px 50px 50px;
}
.ordernow{
    color:#BB0029;
}